<nav class="navbar navbar-expand-lg navbar-dark container-fluid" style="background-color: rgb(4, 63, 4);">
    <div class="container-fluid">
        <span class="navbar-brand">
            <h2 class="m-0"><i class="bi bi-cash"></i></h2>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link  text-light" [routerLink]="['/categories']"><i class="bi bi-list"></i>
                        Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" [routerLink]="['/payments']"><i class="bi bi-wallet2"></i> Formas de
                        pagamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" [routerLink]="['/clientscreditors']"><i class="bi bi-person"></i>
                        Fornecedores/Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" [routerLink]="['/releases']"><i class="bi bi-calendar"></i>
                        Lançamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" href="#"><i class="bi bi-person"></i> Nome do Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light" href="#"><i class="bi bi-box-arrow-right"></i> Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>