RewriteEngine On
RewriteBase /

# Se o arquivo solicitado não existe fisicamente, encaminhe para index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [L]