<div class="container mt-5" *ngIf="authMode == 'signIn'">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4> Entrar </h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="formSignIn" (submit)="signIn()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email/usuário:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="text" class="form-control" placeholder="Entrar com seu email" required
                                    formControlName="login">
                            </div>
                            <app-messages-validators [control]="formSignIn.controls['login']"
                                field="email/usuário"></app-messages-validators>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Entrar com sua senha" required
                                    formControlName="password">
                            </div>
                            <app-messages-validators [control]="formSignIn.controls['password']"
                                field="campo senha"></app-messages-validators>
                        </div>
                        <app-messages-validators [backendErrors]="backendErrors"></app-messages-validators>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" [disabled]="formSignIn.invalid">
                                <i class="fas fa-sign-in-alt"></i> Entrar
                            </button>
                        </div>
                        <div class="text-center">
                            <a routerLink="/sign-up" class="btn btn-link link-primary">Cadastre-se</a> |
                            <a routerLink="/forgot-password" class="btn btn-link link-primary">Recuperar senha</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container  mt-5" *ngIf="authMode == 'forgotPassword'">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4> Recuperar senha </h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="formForgotPassword" (submit)="forgotPassword()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Entrar com seu email" required
                                    formControlName="email">
                            </div>
                            <app-messages-validators [control]="formForgotPassword.controls['email']"
                                field="email"></app-messages-validators>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" [disabled]="formForgotPassword.invalid">
                                <i class="fas fa-key"></i> Recuperar Senha
                            </button>
                        </div>
                        <div class="text-center">
                            <a routerLink="/" class="btn btn-link link-primary">Entrar</a> |
                            <a routerLink="/sign-up" class="btn btn-link link-primary">Cadastre-se</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container  mt-5" *ngIf="authMode == 'signUp'">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4> Novo usuário </h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-success" *ngIf="messageSuccess">
                        {{ messageSuccess }}
                    </div>
                    <form [formGroup]="formSignUp" (submit)="signUp()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nome:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Informe seu nome" required
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuário:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Informe um usuário de acesso" required
                                    formControlName="username">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Informe seu email" required
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Digite sua senha" required
                                    formControlName="password">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password_confirmation" class="form-label">Confirmação de Senha:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Confirme sua senha" required
                                    formControlName="password_confirmation">
                            </div>
                        </div>
                        <app-messages-validators [backendErrors]="backendErrors"></app-messages-validators>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-user-plus"></i> Enviar
                            </button>
                        </div>
                        <div class="text-center">
                            <a routerLink="/" class="btn btn-link link-primary">Entrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>