<app-layout title="Formas de pagamentos">
    <div *ngIf="mode == 'view'">
        <app-table 
        [itens]="payments" 
        [cols]="cols" path="/payments" 
        [pages]="pages"
        (deleteEvent)="delete($event)"
        (showEvent)="show($event)"
        ></app-table>
    </div>
    <div *ngIf="mode === 'new' || mode === 'edit'">
        <app-messages-validators [backendErrors]="backendErrors"></app-messages-validators>
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="row align-items-end">
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="name">
                            <i class="fas fa-credit-card"></i> Nome
                        </label>
                        <input id="name" formControlName="name" type="text" class="form-control" required
                            placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2  mb-3">
                    <div class="form-group">
                        <label for="type">
                            <i class="fas fa-list-alt"></i> Tipo
                        </label>
                        <select id="type" formControlName="type" class="form-control">
                            <option value="INCOME">Entrada</option>
                            <option value="EXPENSE">Saída</option>
                            <option value="BOTH">Ambos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2  mb-3">
                    <div class="form-group">
                        <label for="is_calculable">
                            <i class="fas fa-calculator"></i> Calculável?
                        </label>
                        <select id="is_calculable" formControlName="is_calculable" class="form-control">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4  mb-3">
                    <div class="form-group">
                        <label for="description">
                            <i class="fas fa-info-circle"></i> Descrição (Opcional)
                        </label>
                        <input id="description" formControlName="description" type="text" class="form-control"
                            maxlength="40" placeholder="Descrição (Máximo 40 caracteres).">
                    </div>
                </div>
                <div class="col-md-1  mb-3">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </form>
        <app-table [itens]="payments" [cols]="cols" path="/payments" (deleteEvent)="delete($event)"></app-table>
    </div>
</app-layout>