<app-layout title="Registros financeiros">
    <app-spinner [loading]="loading"></app-spinner>
    <app-message [message]="message"></app-message>
    <div *ngIf="mode === 'view'">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header bg-primary text-white text-center">
                        <i class="fas fa-arrow-alt-circle-up me-2"></i> <span class="h5">Entradas</span>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <p class="fs-4 text-primary fw-bold">{{ total_income | currency:'BRL':'symbol':'1.2-2' }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100  shadow">
                    <div class="card-header bg-danger text-white text-center">
                        <i class="fas fa-arrow-alt-circle-down me-2"></i> <span class="h5">Saídas</span>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <p class="fs-4 text-danger fw-bold">{{ total_expense | currency:'BRL':'symbol':'1.2-2' }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header bg-success text-white text-center">
                        <i class="fas fa-balance-scale me-2"></i> <span class="h5">Saldo</span>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <p class="fs-4 text-success fw-bold">{{ balance | currency:'BRL':'symbol':'1.2-2' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <app-table [itens]="financialRecords" [cols]="cols" path="/financial-records" [pages]="pages"
            (deleteEvent)="delete($event)" (showEvent)="show($event)"></app-table>
    </div>


    <div *ngIf="mode === 'new' || mode === 'edit'">
        <app-card-form>
            <app-messages-validators [backendErrors]="backendErrors"></app-messages-validators>
            <form [formGroup]="form" (submit)="onSubmit()">
                <div class="row align-items-end">
                    <div class="col-md-8 mb-3">
                        <div class="form-group">
                            <label for="description">
                                <i class="fas fa-info-circle"></i> Descrição
                            </label>
                            <input id="description" formControlName="description" type="text" class="form-control"
                                maxlength="100" placeholder="Descrição (Máximo 100 caracteres)">
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label for="amount">
                                <i class="fas fa-money-bill"></i> Valor
                            </label>
                            <input id="amount" formControlName="amount" type="text" class="form-control"
                                (input)="currencyMask($event)">
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label for="financial_record_type">
                                <i class="fas fa-hand-holding-usd"></i> Tipo:
                            </label>
                            <select formControlName="financial_record_type" class="form-select">
                                <option value="">Selecione</option>
                                <option value="INCOME">Entrada</option>
                                <option value="EXPENSE">Saída</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="categories">
                                <i class="fas fa-tags"></i> Categorias
                            </label><br />
                            <div class="form-check form-check-inline" *ngFor="let category of categories">
                                <input class="form-check-input" type="checkbox" [value]="category.id"
                                    (change)="onCheckboxChange($event)">
                                <label class="form-check-label">{{ category.name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label for="financial_record_date">
                                <i class="fas fa-calendar-day"></i> Data:
                            </label>
                            <input id="financial_record_date" formControlName="financial_record_date" type="date"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label for="financial_record_due_date">
                                <i class="fas fa-calendar-times"></i> Vencimento:
                            </label>
                            <input id="financial_record_due_date" formControlName="financial_record_due_date"
                                type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label for="paid">
                                <i class="fas fa-check-circle"></i> Pago:
                            </label>
                            <select formControlName="paid" class="form-select">
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label for="payment_id">
                                <i class="fas fa-credit-card"></i> Forma de pagamento:
                            </label>
                            <div class="input-group">
                                <select formControlName="payment_id" class="form-select">
                                    <option value="">Selecione uma opção</option>
                                    <option *ngFor="let payment of payments" [value]="payment.id">{{ payment.name }}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-success" (click)="openModalPayment()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label for="supplier_customer_id">
                                <i class="fas fa-briefcase"></i> Fornecedor/Cliente:
                            </label>
                            <div class="input-group">
                                <select formControlName="supplier_customer_id" class="form-select">
                                    <option value="">Selecione uma opção</option>
                                    <option *ngFor="let supplierAndCustomer of suppliersAndCustomers"
                                        [value]="supplierAndCustomer.id">{{ supplierAndCustomer.name }}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-success" (click)="openModalSupplierAndCustomer()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3" *ngIf="mode == 'new'">
                        <div class="form-group form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="recurring"
                                (change)="onRecurringChange($event)">
                            <label class="form-check-label" for="recurring">
                                &nbsp; <i class="fas fa-sync-alt"></i> É recorrente?
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3" *ngIf="isRecurring">
                        <div class="form-group d-flex flex-column">
                            <label for="installments" class="mb-0">
                                <i class="fas fa-list-ol"></i> Parcelas:
                            </label>
                            <input formControlName="installment_total" type="number" class="form-control">
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label for="interval" class="mb-0">
                                <i class="fas fa-clock"></i> Intervalo (Em dias):
                            </label>
                            <input formControlName="increment_interval" type="number" class="form-control">
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label for="details">
                                <i class="fas fa-align-left"></i> Detalhes (Opcional):
                            </label>
                            <textarea id="details" class="form-control" formControlName="details"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <app-button-submit></app-button-submit>
                    </div>
                </div>
            </form>
        </app-card-form>
    </div>
</app-layout>

<div class="modal" id="paymentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Nova forma de pagamento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formPayment" (submit)="storePayment()">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="name">
                                <i class="fas fa-credit-card"></i> Nome
                            </label>
                            <input id="name" formControlName="name" type="text" class="form-control" required
                                placeholder="Nome">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="type">
                                <i class="fas fa-list-alt"></i> Tipo
                            </label>
                            <select id="type" formControlName="type" class="form-control">
                                <option value="INCOME">Entrada</option>
                                <option value="EXPENSE">Saída</option>
                                <option value="BOTH">Ambos</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="is_calculable">
                                <i class="fas fa-calculator"></i> Calculável?
                            </label>
                            <select id="is_calculable" formControlName="is_calculable" class="form-control">
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="description">
                                <i class="fas fa-info-circle"></i> Descrição (Opcional)
                            </label>
                            <input id="description" formControlName="description" type="text" class="form-control"
                                maxlength="40" placeholder="Descrição (Máximo 40 caracteres).">
                        </div>
                    </div>
                    <app-messages-validators [backendErrors]="errorsPayments"></app-messages-validators>
                    <app-button-submit></app-button-submit>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="supplierAndCustomerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Novo Fornecedor/Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formSupplierAndCustomer" (submit)="storeSupplierAndCustomer()">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="name">
                                <i class="fas fa-briefcase"></i> Nome
                            </label>
                            <input id="name" formControlName="name" type="text" class="form-control" required
                                placeholder="Nome">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="type">
                                <i class="fas fa-list-alt"></i> Tipo
                            </label>
                            <select id="type" formControlName="type" class="form-control">
                                <option value="SUPPLIER">Fornecedor</option>
                                <option value="CUSTOMER">Cliente</option>
                                <option value="BOTH">Ambos</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="email">
                                <i class="fas fa-envelope"></i> Email (Opcional)
                            </label>
                            <input id="email" formControlName="email" type="email" class="form-control"
                                placeholder="Email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="phone">
                                <i class="fas fa-phone"></i> Telefone (Opcional)
                            </label>
                            <input id="phone" formControlName="phone" type="tel" class="form-control"
                                placeholder="Telefone" (input)="phoneMask($event)">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="description">
                                <i class="fas fa-info-circle"></i> Descrição (Opcional)
                            </label>
                            <input id="description" formControlName="description" type="text" class="form-control"
                                maxlength="100" placeholder="Descrição (Máximo 100 caracteres).">
                        </div>
                    </div>
                    <app-messages-validators [backendErrors]="errorsSuppliersAndCustomers"></app-messages-validators>
                    <app-button-submit></app-button-submit>
                </form>
            </div>
        </div>
    </div>
</div>